{% extends 'common/base.html' %}
{% block content %}
<div class="container mt-5" style="background-color:#f8eec2 ;">
<h1>All Orders</h1>
    <table border="1" cellpadding="10" cellspacing="0" style="background-color:#f8eec2;">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Shipping Address</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.user_name }}</td>
                    <td>{{ order.user_email }}</td>
                    <td>{{ order.user_address }}</td>
                    <td>{{ order.product_name }}</td>
                    <td>{{ order.product_price }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}